.container{
    max-width: 1080px;
    margin: 5rem auto 0;
}

.container > h1{
    font-size: 74px;
    font-weight: 700;
    margin-bottom: 2.8rem;
    line-height: 1;
}

.top_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text_container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.short_input, .dropdown{
    width: 270px;
    height: 50px;
    background-color: #D9D9D9;
    border-radius: 10px;
    border: none;
    padding: 0 1rem;
    font-size: 20px;
}
.short_input::placeholder{
    color: #000000;
}
.short_input:focus, .description_input:focus{
    outline: none;
    border: 2px solid #A3F8A1;
}

.short_input.error, .description_input.error, .dropdown.error{
    border: 2px solid red;
}

.description_input{
    width: 578px;
    height: 212px;
    background-color: #D9D9D9;
    border-radius: 10px;
    border: none;
    padding: 1rem;
    font-size: 20px;
    resize: vertical; /* This allows users to resize the textarea vertically */
    overflow: auto; /* Ensures text goes to a new line and scrollbars appear if needed */
    font-family: 'Inter', sans-serif;
}
.description_input::placeholder{
    color: #000000;
}

.image_container{
    padding-bottom: 4rem;
}

.image_placeholder{
    width: 345px;
    height: 346.05px;
    background-color: #D9D9D9;
}

.dropdown_container{
    width: 889px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem 2rem;
    margin-bottom: 3rem;
}

.button_container{
    display: flex;
    gap: 3rem;
}
.upload_button{
    width: 10.5rem;
}
.save_button{
    width: 14.5rem;
}

.upload_button, .save_button{
    display: flex;
    flex-direction: column;
    height: 3.75rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    border-radius: 16px;
    margin-bottom: 1.5rem;
    align-items: center;
    justify-content: center;
    /* padding: 1.1rem 1.5rem; */
    cursor: pointer;
}
.upload_button.active{
    background-color: #A3F8A1;
    border: none;
}
.upload_button.inactive, .save_button.inactive{
    background-color: #D9D9D9;
    border: 5px solid #867e7e;
    opacity: 0.5;
}
.save_button.active{
    background-color: #ffffff;
    border: 5px solid #A3F8A1;
}

.error_label{
    color: red;
    font-size: 1.2rem;
    font-style: italic;
    visibility: hidden;
    padding-bottom: 1rem;
}

.error_label.show_error{
    visibility: visible;
}